@import '../../variables';
@import '../../mixins';
.banner{
    min-height: 1094px;
    background-size: cover;
    position: relative;
    z-index: 2;
    &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        display: block;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.75 );
        background:linear-gradient(rgba(0, 0, 0, 0.89) 0%, rgba(13, 13, 13, 0.43) 37.25%, #161616 100%);
        background-size: cover;
    }
    &-video-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        width: 100%;
        height: 100%;
        video {
            display: block;
            width: 100%;
            height: 100%;
            aspect-ratio: 1/1;
            object-fit: cover;
        }
    }
    &__content {
        position: relative;
        z-index: 1;
    }
    @include mq(lg) {
        min-height: 100vh;
    }
    .scroll-container {
        margin-bottom: 80px;
        position: relative;
        z-index: 2;
    }
}
