@import '../../variables';
@import '../../mixins';
.reference {
    &-padding {
        padding-block: 133px 154px;
        @include mq(md) {
            padding-block: 40px 105px;
        }
    }
    h2 {
        @include mq(md) {
            max-width: 75%;
        }
        @include mq(md) {
            max-width: 100%;
        }
    }
}