@import '../../variables';
@import '../../mixins';
.blog {

    .img-container {
        position: relative;
        overflow: hidden;
        &::after {
            content: '';
            position: absolute;
            inset: 0;
            background: rgba(0, 0, 0, 0.3);
        }
        img {
            transition: transform .3s ease-in-out;
        }
        &:hover img,
        &:focus img {
            transform: scale(1.1);
        }
    }

    .swiper-slide h3 {
        font-weight: 500;
        margin: 0;
    }
    &__content {
        background: $clr-white;
        min-height: 658px;
        color: $clr-dark;
        padding: 125px 90px 60px 60px;
        @include mq(md){
            padding: 40px 17px;
            min-height: initial;
        }
        h3 {
            line-height: 50px;
            @include mq(md){
               font-size: 20px;
               line-height: 30px;
            }
        }
    }
    &-bg {
        background: linear-gradient( rgba(0, 0, 0, .8) 0%, rgba(0, 0, 0, 0.72) 70%, #000 100%) , url(../images/blog-bg.png) no-repeat;
        // opacity: 0.85;
        height: 100% ;
        padding: 113px 60px 60px 42px;
        @include mq(md){
            padding: 56px 17px;
        }
        h2 {
            font-size: 60px;
            @include mq(md){
                font-size: 26px;
                line-height: 32px;
            }
        }
    }
    .grid-col-2 {
        grid-template-columns: 1fr 842px;
        @include mq(xl) {
            grid-template-columns: 1fr;
            margin-right: calc(var(--bs-gutter-x) * -.5);
            margin-left: calc(var(--bs-gutter-x) * -.5);
        }
        .left {
            min-width: 200px;
            @include mq(lg) {
               order: 1;
            }
        }
    }
    .review-swiper  {
        height: inherit !important;

        .swiper-slide h3  {
            @include mq(lg){
                margin-bottom: 80px !important;
               }
        }
    }
    .review-swiper  .swiper-pagination { 
        bottom: 0;
        text-align: right;
        @include mq(lg){
            text-align: center;
           }
         .swiper-pagination-bullet-active {
            background: $clr-dark;
         }
    }
}