@import './variables';

.btn__outline-accent {
    border:2px solid $clr-accent;
    color: $clr-white;
    background: transparent;
    border-radius: 5px;
    padding: 7px 22px;
    font-weight: 500 !important;
    &:hover,
    &:focus {
        background: $clr-accent !important;
        color: $clr-black !important;
        border:2px solid $clr-accent !important;
    }
}