@import './variables';
@import './mixins';

@media screen and (min-width:1850px) {
    .container {
        max-width: 1820px;
    }
}

a{
    text-decoration: none;
}

ul {
   list-style: none;
   padding-left: 0;
}
.max-w-lg {
    max-width: 780px;
}

.block-margin{
   margin-block: 200px;
   @include mq(lg){
       margin-block: 100px;
    }
}
.block-padding{
   padding-block:115px 280px;
   @include mq(lg){
       padding-block: 40px 85px;
    }
}
.block-padding--xl{
   padding-block: 250px;
   @include mq(lg){
       padding-block: 100px;
    }
}

.text-accent {
   color: $clr-accent;
}

.object-cover {
    object-fit: cover;
}
.overlay-dark {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #161616, $alpha: .45);
    }
}

.border__top {
    border-top: 2px solid $clr-light;
}
.border__bottom {
    border-bottom: 2px solid $clr-light;
}
.border-block {
    border-block:1px solid #707070 ;
}

.bg__dark {
    background: $clr-dark;
}
.bg__light {
    background: $clr-light;
}
.bg__accent {
    background: $clr-accent;
}
.text__accent {
    color: $clr-accent !important;
}
.text__light {
    color: $clr-light !important;
}

.min-h-inherit {
    min-height: inherit;
}

.mb-50 {
    margin-bottom: 50px;
    @include mq(md) {
        margin-bottom: 30px;
    }
}
.mb-30 {
    margin-bottom: 30px;
}

@media screen and (min-width:992px) {
    .mb-130 {
        margin-bottom: 130px !important;
    }
}
.mb-75 {
    margin-bottom: 75px;
    @include mq(md) {
        margin-bottom: 45px;
    }
}
.fw-medium {
    font-weight: 500;
}

.mouse {
    width: 26px;
    height: 40px;
    border-radius: 15px;
    border: 2px solid #A5A5A5;
    position: relative;
    overflow: hidden;
    margin-top: 40px;
}
.mouse .roll {
    position: absolute;
    top: 8px;
    left: 50%;
    width: 2px;
    margin-left: -1px;
    height: 8px;
    border-radius: 4px;
    background: $clr-accent;

    z-index: 2;
    transition: transform .3s linear;
}

.mouse:hover .roll,
.mouse:focus .roll
{
    background: $clr-accent;
    transform:translateY(14px)
    
}


.list--arrow {
    list-style-image: url(../images/list-arrow.svg);
    max-width: 655px;
    padding-left: 32px;
    .list__item {
        color: $clr-light;
        padding-left: 10px;
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 25px;
        font-family: 'Urbanist', sans-serif;
        @include mq(md){
            font-size: 20px;
            line-height: 35px;
            margin-bottom: 20px;
        }
    }
}

.section__content {
    max-width: 823px;
    &-wrapper {
        max-width: 1470px;
        margin-left: auto;
        padding-top: 341px;
        padding-bottom: 174px;
    }
    &-md {
        max-width: 685px;
    }
}


.callback {
    &-wrapper {
        position: fixed;
        bottom: 0;
        right: 40px;
        z-index: 99;
       
        @include mq(lg) {
            right: 30px;
        }
        @include mq(sm) {
            right: 12px;
        }
        button {
            border: 0;
            background: transparent;
        }
        .popup-close-btn svg {
            width: 20px;
        }
        .popup-heading {
            font-size: 20px;
            font-weight: 600;
            line-height: 30px;
            text-align: center;
            margin-bottom: 20px;
            color: $clr-dark;
        }
        .form-control {
            border: 0;
            border-bottom: 1px solid #6e6e6e;
            border-radius: 0;
            padding-left: 0;
            max-width: 80%;
            &:focus {
                box-shadow: none;
                border-color: #6e6e6e;
            }
            &::placeholder {
                color: #6e6e6e;
            }
        }
        
    }
    &-link {
        background: #daff00 !important;
        width: 50px;
        height: 35px;
        border-radius: 6px 6px 0 0;
        display: block;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding: 10px 16px 10px;
        transition: padding .3s ease-in-out;
        &:hover {
            padding-bottom: 40px;
        }
    }
    &-popup {
        position: fixed;
        right: 100px;
        bottom: 80px;
        background: #fff;
        padding: 10px 10px 40px 40px;
        border-radius: 5px;
        min-width: 400px;
        display: none;
        @include mq(sm) {
            min-width: initial;
            left: 12px;
            right:12px;
        }
    }
}

.offer {
    &-wrapper {
        position: fixed;
        left: 0;
        right: 100px;
        width: 100%;
        height: 100%;
        display: block;
        top: 100px;
        z-index: 99;
    }
    &-popup  {
        background: #fff;
        max-width: 400px;
        margin-left: auto;
        margin-right: 150px;
        padding: 20px;
        .popup-close-btn  {
            background: transparent;
            border: 0;
            svg {
                stroke: #000;
                width: 24px;
            }
        }
        .popup-heading {
            font-size: 17px;
            font-weight: 700;
            line-height: 68px;
        }
    }
}

.list--social {
    svg {
        width: 16px;
    }
}
.faces__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}
.face__card {
    flex-basis: 398px;
    &:hover  .face__card-img-content ,
    &:focus .face__card-img-content {
        transform: translateY(0);
        opacity: 1;
    }
    &-img-content  {
        padding: 34px 26px 26px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        opacity: 0;
        transform: translateY(180px);
        transition: transform .5s ease ,opacity .5s ease;
    }
    .face-link {
        color: $clr-dark;
        display: block;
    }
    .list--social {
        .list__item {
            background:  $clr-dark;;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;

            svg {
                fill:$clr-accent;
                width: 16px;
            }
        }
    }
    .img-container {
        position: relative;
        overflow: hidden;
        margin-bottom: 0;
        &::after {
            content: "";
            position: absolute;
            inset: 0;
            background: rgba(0,0,0,.3);
        }
    }
}

// strategy
.strategy {
  &__text {
    max-width: 550px;
    margin: 0 auto;
  }
}