@import './variables';
@import './mixins';

@media screen and (min-width:1850px) {
    .container {
        max-width: 1820px;
    }
}

a{
    text-decoration: none;
}

ul {
   list-style: none;
   padding-left: 0;
}

.block-margin{
   margin-block: 200px;
   @include mq(lg){
       margin-block: 100px;
    }
}
.block-padding{
   padding-block:115px 280px;
   @include mq(lg){
       padding-block: 40px 85px;
    }
}
.block-padding--xl{
   padding-block: 250px;
   @include mq(lg){
       padding-block: 100px;
    }
}

.text-accent {
   color: $clr-accent;
}

.object-cover {
    object-fit: cover;
}
.overlay-dark {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #161616, $alpha: .45);
    }
}

.border__top {
    border-top: 2px solid $clr-light;
}
.border__bottom {
    border-bottom: 2px solid $clr-light;
}
.border-block {
    border-block:1px solid #707070 ;
}

.bg__dark {
    background: $clr-dark;
}
.bg__light {
    background: $clr-light;
}
.bg__accent {
    background: $clr-accent;
}
.text__accent {
    color: $clr-accent !important;
}
.text__light {
    color: $clr-light !important;
}

.min-h-inherit {
    min-height: inherit;
}

.mb-50 {
    margin-bottom: 50px;
    @include mq(md) {
        margin-bottom: 30px;
    }
}
.mb-30 {
    margin-bottom: 30px;
}

@media screen and (min-width:992px) {
    .mb-130 {
        margin-bottom: 130px !important;
    }
}
.mb-75 {
    margin-bottom: 75px;
    @include mq(md) {
        margin-bottom: 45px;
    }
}

.mouse {
    width: 26px;
    height: 40px;
    border-radius: 15px;
    border: 2px solid #A5A5A5;
    position: relative;
    overflow: hidden;
    margin-top: 40px;
}
.mouse .roll {
    position: absolute;
    top: 8px;
    left: 50%;
    width: 2px;
    margin-left: -1px;
    height: 8px;
    border-radius: 4px;
    background: $clr-accent;
    // animation: mouseScroll 0.8s cubic-bezier(0.3, 0.04, 0.7, 0.95) infinite alternate;
    z-index: 2;
    transition: transform .3s linear;
}

.mouse:hover .roll,
.mouse:focus .roll
{
    background: $clr-accent;
    transform:translateY(14px)
    
}
// .scroll-container {
//     transition: transform .3s linear;
// }

// .scroll-container:hover,
// .scroll-container:focus  {
//     transform: translateY(10px);
// }

@keyframes mouseScroll {
 0% {
  -webkit-transform:translateY(0);
  transform:translateY(0)
 }
 100% {
  -webkit-transform:translateY(14px);
  transform:translateY(14px)
 }
}


.list--arrow {
    list-style-image: url(../images/list-arrow.svg);
    max-width: 655px;
    padding-left: 32px;
    .list__item {
        color: $clr-light;
        padding-left: 10px;
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 25px;
        font-family: 'Urbanist', sans-serif;
        @include mq(md){
            font-size: 20px;
            line-height: 35px;
            margin-bottom: 20px;
        }
    }
}

.section__content {
    max-width: 823px;
    &-wrapper {
        max-width: 1470px;
        margin-left: auto;
        padding-top: 341px;
        padding-bottom: 174px;
    }
    &-md {
        max-width: 685px;
    }
}


// job
.job {
    padding-block: 280px;
    @include mq(lg){
        padding-block: 110px;
    }
    &__item-title {
        font-size: 200px;
        line-height: 150px;
        color: $clr-accent;
        margin-bottom: 0;
        font-family: 'Urbanist', sans-serif;
        @include mq(xl){
            font-size: 75px;
            line-height:80px;
          }
    }
    &__item-subtitle {
        opacity: .8;
        color: $clr-light;
        font-family: 'Urbanist', sans-serif;
        @include mq(xl){
            font-size: 26px;
            line-height:32px;
            display: inline-block;
            margin-left: 25px;
            margin-top: 15px;
          }
    }
    &__item-text {
     color: $clr-light;
     padding-top: 134px;
     opacity: 0;
     transition: opacity .3s ease .2s;
     max-width: 504px;
     @include mq(xl){
      opacity: 1;
      max-width: 100%;
      padding-top: 0px;
    }
    }
   
    &__content {
        min-height: 600px;
        position: relative;
        z-index: 1;
        &-wrapper {
            background: linear-gradient(to bottom , rgba(0,0,0,.5),rgba(0,0,0,.5)), url(../images/job-bg.png) no-repeat center/cover;
            @include mq(xl){
                background-attachment: fixed;
                padding-inline:7px;
                margin-top: 105px;
                padding-bottom: 40px;
            }
            .accordion-button:not(.collapsed) {
                background: transparent;
                box-shadow: none;
                &::after {
                    transform: rotate(-180deg) translateY(0px);
                }
            }
            .accordion-item {
                border: 0;
                background: transparent;
                border-radius: 0;
            }
            .accordion-button {
                background: transparent;
                border-bottom: 2px solid $clr-light;
                @include mq(lg){
                    padding:0 10px;
                }
                &::after {
                    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
                    background-image: url(../images/acc-icon.svg);
                    transform:  translateY(10px);
                }
               &:focus {
                box-shadow: none;
                border-color: $clr-light;
               }
            }
            .accordion-item:last-of-type .accordion-button.collapsed {
                border-radius: 0;
            }
            .accordion-body {
                padding: 10px;
            }
           
        }
    }

    &__item {
        background: none;
        background-size: cover;
        padding-inline: 60px 30px;
        position: relative;
        transition: background .3s ease-in-out , flex .3s ease-in-out;
        &:nth-child(odd) {
            background:linear-gradient(45deg, rgba($color: #161616, $alpha: .12) , rgba($color: #161616, $alpha: .12));
        }
        @include mq(lg) {
            flex-basis: 50%;
            border-bottom: 1px solid $clr-light;
            border-top:1px solid $clr-light;
            & + .reference__item {
                border-top: 0;
            }
        }

        &.active .job__item-title {
            font-size: 150px;
        }
        &:hover,
        &:focus {
            flex:2.4;
            @include mq(lg) {
                flex:1 1 50%;  
            }
        }
        &:hover   .job__item-text ,
        &:focus  .job__item-text {
            opacity: 1;
        }
        & > div {
            position: absolute;
            bottom: 30px;
            @include mq(lg) {
                bottom:30px;
            }
        }
    }

    
}

//reference
.reference {
    &-padding {
        padding-block: 133px 154px;
        @include mq(md) {
            padding-block: 40px 105px;
        }
    }
}

// feature
.feature {
    padding-block:130px;
    &__content-title {
        font-size: 45px;
        line-height: 50px;
        font-weight: 700;
        @include mq(md){
            font-size: 27px;
            line-height: 31px;
        }
    }
    &__content-text {
        font-size: 30px;
        line-height: 50px;
        @include mq(md){
            font-size: 17px;
            line-height: 30px;
        }
    }
    &__img {
        @include mq(lg){
          max-width: 40px;
         }
    }
}

// services
.services {
    color: $clr-light;
    &__wrapper{
        padding-block: 280px;
        @include mq(md) {
            padding-block: 105px 65px;
        }
    }
    &__img {
        transition: transform .3s ease-in-out;
    }
    .img-container {
        max-width: 658px;
        overflow: hidden;
        &:hover img,
        &:focus img {
            transform: scale(1.1);
        }
    }
}

// blog
.blog {

    .img-container {
        position: relative;
        overflow: hidden;
        &::after {
            content: '';
            position: absolute;
            inset: 0;
            background: rgba(0, 0, 0, 0.3);
        }
        img {
            transition: transform .3s ease-in-out;
        }
        &:hover img,
        &:focus img {
            transform: scale(1.1);
        }
    }

    .swiper-slide h3 {
        font-weight: 500;
        margin: 0;
    }
    &__content {
        background: $clr-white;
        min-height: 658px;
        color: $clr-dark;
        padding: 125px 90px 60px 60px;
        @include mq(md){
            padding: 40px 17px;
            min-height: initial;
        }
        h3 {
            line-height: 50px;
            @include mq(md){
               font-size: 20px;
               line-height: 30px;
            }
        }
    }
    &-bg {
        background: linear-gradient( rgba(0, 0, 0, .8) 0%, rgba(0, 0, 0, 0.72) 70%, #000 100%) , url(../images/blog-bg.png) no-repeat;
        // opacity: 0.85;
        height: 100% ;
        padding: 113px 60px 60px 42px;
        @include mq(md){
            padding: 56px 17px;
        }
        h2 {
            font-size: 60px;
            @include mq(md){
                font-size: 26px;
                line-height: 32px;
            }
        }
    }
    .grid-col-2 {
        grid-template-columns: 1fr 842px;
        @include mq(xl) {
            grid-template-columns: 1fr;
            margin-right: calc(var(--bs-gutter-x) * -.5);
            margin-left: calc(var(--bs-gutter-x) * -.5);
        }
        .left {
            min-width: 200px;
            @include mq(lg) {
               order: 1;
            }
        }
    }
    .review-swiper  {
        height: inherit !important;

        .swiper-slide h3  {
            @include mq(lg){
                margin-bottom: 80px !important;
               }
        }
    }
    .review-swiper  .swiper-pagination { 
        bottom: 0;
        text-align: right;
        @include mq(lg){
            text-align: center;
           }
         .swiper-pagination-bullet-active {
            background: $clr-dark;
         }
    }
}

// contact
.contact {
    color: $clr-light;
    .contact-padding {
        padding-block:133px 175px;
        @include mq(md){
            padding-block:110px;
         }
    }
    &-content {
        max-width: 360px;
        p {
            @include mq(lg){
                margin-bottom: 89px !important;
             } 
        }
    }

    .arrow-icon {
        position: absolute;
        left: -90px;
    }
    h2  {
        margin-bottom: 44px;
        @include mq(md){
            margin-bottom: 17px !important;
        }
    }
    .form-control {
        border: 0;
        background: transparent;
        color: $clr-light;
        border-bottom: 1px solid #6E6E6E;
        border-radius: 0;
        padding-left: 0;
        font-size: 30px;
        font-family: 'Urbanist', sans-serif;
        @include mq(lg){
            font-size: 20px;
         }
        &:focus {
            box-shadow: none;
        }
        &::placeholder {
            color: $clr-light;
            font-size: 30px;
            font-family: 'Urbanist', sans-serif;
            @include mq(lg){
                font-size: 20px;
             }
        }
    }
    textarea {
        resize: none;
    }
}
