@import '../../variables';
@import '../../mixins';
.job {
    padding-block: 280px;
    @include mq(lg){
        padding-block: 110px;
    }
    &__item-title {
        font-size: 200px;
        line-height: 150px;
        color: $clr-accent;
        margin-bottom: 0;
        font-family: 'Urbanist', sans-serif;
        @include mq(xl){
            font-size: 75px;
            line-height:80px;
          }
    }
    &__item-subtitle {
        opacity: .8;
        color: $clr-light;
        font-family: 'Urbanist', sans-serif;
        @include mq(xl){
            font-size: 26px;
            line-height:32px;
            display: inline-block;
            margin-left: 25px;
            margin-top: 15px;
          }
    }
    &__item-text {
     color: $clr-light;
     padding-top: 134px;
     opacity: 0;
     transition: opacity .3s ease .2s;
     max-width: 504px;
     @include mq(xl){
      opacity: 1;
      max-width: 100%;
      padding-top: 0px;
    }
    }
   
    &__content {
        min-height: 600px;
        position: relative;
        z-index: 1;
        &-wrapper {
            background: linear-gradient(to bottom , rgba(0,0,0,.5),rgba(0,0,0,.5)), url(../images/job-bg.png) no-repeat center/cover;
            @include mq(xl){
                background-attachment: fixed;
                padding-inline:7px;
                margin-top: 105px;
                padding-bottom: 40px;
            }
            .accordion-button:not(.collapsed) {
                background: transparent;
                box-shadow: none;
                &::after {
                    transform: rotate(-180deg) translateY(0px);
                }
            }
            .accordion-item {
                border: 0;
                background: transparent;
                border-radius: 0;
            }
            .accordion-button {
                background: transparent;
                border-bottom: 2px solid $clr-light;
                @include mq(lg){
                    padding:0 10px;
                }
                &::after {
                    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
                    background-image: url(../images/acc-icon.svg);
                    transform:  translateY(10px);
                }
               &:focus {
                box-shadow: none;
                border-color: $clr-light;
               }
            }
            .accordion-item:last-of-type .accordion-button.collapsed {
                border-radius: 0;
            }
            .accordion-body {
                padding: 10px;
            }
            .accordion-header {
                max-width: 100%;
            }
        }
    }

    &__item {
        background: none;
        background-size: cover;
        padding-inline: 60px 30px;
        position: relative;
        transition: background .3s ease-in-out , flex .3s ease-in-out;
        &:nth-child(odd) {
            background:linear-gradient(45deg, rgba($color: #161616, $alpha: .12) , rgba($color: #161616, $alpha: .12));
        }
        @include mq(lg) {
            flex-basis: 50%;
            border-bottom: 1px solid $clr-light;
            border-top:1px solid $clr-light;
            & + .reference__item {
                border-top: 0;
            }
        }

        &.active .job__item-title {
            font-size: 150px;
        }
        &:hover,
        &:focus {
            flex:2.4;
            @include mq(lg) {
                flex:1 1 50%;  
            }
        }
        &:hover   .job__item-text ,
        &:focus  .job__item-text {
            opacity: 1;
        }
        & > div {
            position: absolute;
            bottom: 30px;
            @include mq(lg) {
                bottom:30px;
            }
        }
    }

    
}