.job {
  padding-block: 280px;
}
@media screen and (max-width: 992px) {
  .job {
    padding-block: 110px;
  }
}
.job__item-title {
  font-size: 200px;
  line-height: 150px;
  color: #DAFF00;
  margin-bottom: 0;
  font-family: "Urbanist", sans-serif;
}
@media screen and (max-width: 1200px) {
  .job__item-title {
    font-size: 75px;
    line-height: 80px;
  }
}
.job__item-subtitle {
  opacity: 0.8;
  color: #F2F2F2;
  font-family: "Urbanist", sans-serif;
}
@media screen and (max-width: 1200px) {
  .job__item-subtitle {
    font-size: 26px;
    line-height: 32px;
    display: inline-block;
    margin-left: 25px;
    margin-top: 15px;
  }
}
.job__item-text {
  color: #F2F2F2;
  padding-top: 134px;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease 0.2s;
  transition: opacity 0.3s ease 0.2s;
  max-width: 504px;
}
@media screen and (max-width: 1200px) {
  .job__item-text {
    opacity: 1;
    max-width: 100%;
    padding-top: 0px;
  }
}
.job__content {
  min-height: 600px;
  position: relative;
  z-index: 1;
}
.job__content-wrapper {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/job-bg.png) no-repeat center/cover;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/job-bg.png) no-repeat center/cover;
}
@media screen and (max-width: 1200px) {
  .job__content-wrapper {
    background-attachment: fixed;
    padding-inline: 7px;
    margin-top: 105px;
    padding-bottom: 40px;
  }
}
.job__content-wrapper .accordion-button:not(.collapsed) {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.job__content-wrapper .accordion-button:not(.collapsed)::after {
  -webkit-transform: rotate(-180deg) translateY(0px);
          transform: rotate(-180deg) translateY(0px);
}
.job__content-wrapper .accordion-item {
  border: 0;
  background: transparent;
  border-radius: 0;
}
.job__content-wrapper .accordion-button {
  background: transparent;
  border-bottom: 2px solid #F2F2F2;
}
@media screen and (max-width: 992px) {
  .job__content-wrapper .accordion-button {
    padding: 0 10px;
  }
}
.job__content-wrapper .accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  background-image: url(../images/acc-icon.svg);
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}
.job__content-wrapper .accordion-button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #F2F2F2;
}
.job__content-wrapper .accordion-item:last-of-type .accordion-button.collapsed {
  border-radius: 0;
}
.job__content-wrapper .accordion-body {
  padding: 10px;
}
.job__content-wrapper .accordion-header {
  max-width: 100%;
}
.job__item {
  background: none;
  background-size: cover;
  padding-inline: 60px 30px;
  position: relative;
  -webkit-transition: background 0.3s ease-in-out, -webkit-box-flex 0.3s ease-in-out;
  transition: background 0.3s ease-in-out, -webkit-box-flex 0.3s ease-in-out;
  transition: background 0.3s ease-in-out, flex 0.3s ease-in-out;
  transition: background 0.3s ease-in-out, flex 0.3s ease-in-out, -webkit-box-flex 0.3s ease-in-out, -ms-flex 0.3s ease-in-out;
}
.job__item:nth-child(odd) {
  background: linear-gradient(45deg, rgba(22, 22, 22, 0.12), rgba(22, 22, 22, 0.12));
}
@media screen and (max-width: 992px) {
  .job__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    border-bottom: 1px solid #F2F2F2;
    border-top: 1px solid #F2F2F2;
  }
  .job__item + .reference__item {
    border-top: 0;
  }
}
.job__item.active .job__item-title {
  font-size: 150px;
}
.job__item:hover, .job__item:focus {
  -webkit-box-flex: 2.4;
      -ms-flex: 2.4;
          flex: 2.4;
}
@media screen and (max-width: 992px) {
  .job__item:hover, .job__item:focus {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
}
.job__item:hover .job__item-text, .job__item:focus .job__item-text {
  opacity: 1;
}
.job__item > div {
  position: absolute;
  bottom: 30px;
}
@media screen and (max-width: 992px) {
  .job__item > div {
    bottom: 30px;
  }
}/*# sourceMappingURL=job.css.map */