@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Urbanist:wght@400;700&display=swap");
body {
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
  font-family: "Roboto", sans-serif;
}
@media screen and (max-width: 992px) {
  body {
    font-size: 15px;
    line-height: 25px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Urbanist", sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 60px;
  line-height: 80px;
  margin-bottom: 44px;
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 26px;
    line-height: 32px;
  }
}

h2 {
  font-size: 60px;
  line-height: 80px;
  margin-bottom: 51px;
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 26px;
    line-height: 32px;
  }
}

h3 {
  font-size: 30px;
  line-height: 80px;
}
@media screen and (max-width: 768px) {
  h3 {
    font-size: 20px;
    line-height: 35px;
  }
}

a, button {
  font-family: "Roboto", sans-serif;
  font-size: 17px !important;
  line-height: 30px;
}

.btn__outline-accent {
  border: 2px solid #DAFF00;
  color: #fff;
  background: transparent;
  border-radius: 5px;
  padding: 8px 30px;
  font-weight: 500 !important;
  min-width: 188px;
}
.btn__outline-accent:hover, .btn__outline-accent:focus {
  background: #DAFF00 !important;
  color: #000 !important;
  border: 2px solid #DAFF00 !important;
}

.btn-arrow {
  color: #F2F2F2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.btn-arrow svg {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.btn-arrow:hover, .btn-arrow:focus {
  color: #F2F2F2;
}
.btn-arrow:hover svg, .btn-arrow:focus svg {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

@media screen and (min-width: 1850px) {
  .container {
    max-width: 1820px;
  }
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

.block-margin {
  margin-block: 200px;
}
@media screen and (max-width: 992px) {
  .block-margin {
    margin-block: 100px;
  }
}

.block-padding {
  padding-block: 115px 280px;
}
@media screen and (max-width: 992px) {
  .block-padding {
    padding-block: 100px;
  }
}

.block-padding--xl {
  padding-block: 250px;
}
@media screen and (max-width: 992px) {
  .block-padding--xl {
    padding-block: 100px;
  }
}

.text-accent {
  color: #DAFF00;
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.overlay-dark {
  position: relative;
}
.overlay-dark::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(22, 22, 22, 0.45);
}

.border__top {
  border-top: 2px solid #F2F2F2;
}

.border-block {
  border-block: 1px solid #707070;
}

.bg__dark {
  background: #161616;
}

.bg__light {
  background: #F2F2F2;
}

.bg__accent {
  background: #DAFF00;
}

.text__accent {
  color: #DAFF00 !important;
}

.text__light {
  color: #F2F2F2 !important;
}

.min-h-inherit {
  min-height: inherit;
}

.mb-50 {
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .mb-50 {
    margin-bottom: 30px;
  }
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-130 {
  margin-bottom: 130px;
}

.mb-75 {
  margin-bottom: 75px;
}

.mouse {
  width: 26px;
  height: 40px;
  border-radius: 15px;
  border: 2px solid #A5A5A5;
  position: relative;
  overflow: hidden;
  margin-top: 40px;
}

.mouse .roll {
  position: absolute;
  top: 8px;
  left: 50%;
  width: 2px;
  margin-left: -1px;
  height: 8px;
  border-radius: 4px;
  background: #A5A5A5;
  -webkit-animation: mouseScroll 0.8s cubic-bezier(0.3, 0.04, 0.7, 0.95) infinite alternate;
          animation: mouseScroll 0.8s cubic-bezier(0.3, 0.04, 0.7, 0.95) infinite alternate;
  z-index: 2;
}

.scroll-container:hover .roll,
.scroll-container:focus .roll {
  background: #DAFF00;
}

.scroll-container {
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

.scroll-container:hover,
.scroll-container:focus {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

@-webkit-keyframes mouseScroll {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(14px);
    transform: translateY(14px);
  }
}

@keyframes mouseScroll {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(14px);
    transform: translateY(14px);
  }
}
.list--arrow {
  list-style-image: url(../images/list-arrow.svg);
  max-width: 655px;
  padding-left: 32px;
}
.list--arrow .list__item {
  color: #F2F2F2;
  padding-left: 10px;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 25px;
}
@media screen and (max-width: 768px) {
  .list--arrow .list__item {
    font-size: 20px;
    line-height: 35px;
  }
}

.section__content {
  max-width: 823px;
}
.section__content-wrapper {
  max-width: 1470px;
  margin-left: auto;
  padding-top: 341px;
  padding-bottom: 174px;
}
.section__content-md {
  max-width: 685px;
}

.job {
  padding-block: 280px;
}
.job__item-title {
  font-size: 200px;
  line-height: 150px;
  color: #DAFF00;
  margin-bottom: 0;
}
.job__item-subtitle {
  opacity: 0.8;
  color: #F2F2F2;
}
.job__item-text {
  color: #F2F2F2;
  padding-top: 134px;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease 0.2s;
  transition: opacity 0.3s ease 0.2s;
  max-width: 504px;
}
.job__content {
  min-height: 600px;
  position: relative;
  z-index: 1;
}
.job__content-wrapper {
  background: url(../images/job-bg.png) no-repeat center/cover;
}
.job__item {
  background: none;
  background-size: cover;
  padding-inline: 60px 30px;
  position: relative;
  -webkit-transition: background 0.3s ease-in-out, -webkit-box-flex 0.3s ease-in-out;
  transition: background 0.3s ease-in-out, -webkit-box-flex 0.3s ease-in-out;
  transition: background 0.3s ease-in-out, flex 0.3s ease-in-out;
  transition: background 0.3s ease-in-out, flex 0.3s ease-in-out, -webkit-box-flex 0.3s ease-in-out, -ms-flex 0.3s ease-in-out;
}
.job__item:nth-child(odd) {
  background: linear-gradient(45deg, rgba(22, 22, 22, 0.12), rgba(22, 22, 22, 0.12));
}
@media screen and (max-width: 992px) {
  .job__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    border-bottom: 1px solid #F2F2F2;
    border-top: 1px solid #F2F2F2;
  }
  .job__item + .reference__item {
    border-top: 0;
  }
}
.job__item:hover, .job__item:focus {
  -webkit-box-flex: 2.4;
      -ms-flex: 2.4;
          flex: 2.4;
}
@media screen and (max-width: 992px) {
  .job__item:hover, .job__item:focus {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
}
.job__item:hover .job__item-text, .job__item:focus .job__item-text {
  opacity: 1;
}
.job__item > div {
  position: absolute;
  bottom: 30px;
}
@media screen and (max-width: 992px) {
  .job__item > div {
    bottom: 30px;
  }
}

.reference-padding {
  padding-block: 133px 154px;
}

.feature {
  padding-block: 130px;
}
.feature__content-title {
  font-size: 45px;
  line-height: 50px;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .feature__content-title {
    font-size: 27px;
    line-height: 31px;
  }
}
.feature__content-text {
  font-size: 30px;
  line-height: 50px;
}
@media screen and (max-width: 768px) {
  .feature__content-text {
    font-size: 17px;
    line-height: 30px;
  }
}

.services {
  padding-block: 280px;
  color: #F2F2F2;
}
.services__img {
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.services .img-container {
  max-width: 658px;
  overflow: hidden;
}
.services .img-container:hover img, .services .img-container:focus img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.blog .img-container {
  position: relative;
  overflow: hidden;
}
.blog .img-container::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
}
.blog .img-container img {
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.blog .img-container:hover img, .blog .img-container:focus img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.blog .swiper-slide h3 {
  font-weight: 500;
  margin: 0;
}
.blog__content {
  background: #fff;
  min-height: 658px;
  color: #161616;
  padding: 125px 90px 60px 60px;
}
@media screen and (max-width: 768px) {
  .blog__content {
    padding: 56px 17px;
    min-height: initial;
  }
}
.blog__content h3 {
  line-height: 50px;
}
@media screen and (max-width: 768px) {
  .blog__content h3 {
    font-size: 20px;
    line-height: 30px;
  }
}
.blog-bg {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), color-stop(70%, rgba(0, 0, 0, 0.72)), to(#000)), url(../images/blog-bg.png) no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.72) 70%, #000 100%), url(../images/blog-bg.png) no-repeat;
  height: 100%;
  padding: 113px 60px 60px 42px;
}
@media screen and (max-width: 768px) {
  .blog-bg {
    padding: 56px 17px;
  }
}
.blog-bg h2 {
  font-size: 60px;
}
@media screen and (max-width: 768px) {
  .blog-bg h2 {
    font-size: 26px;
    line-height: 32px;
  }
}
.blog .grid-col-2 {
  grid-template-columns: 1fr 842px;
}
@media screen and (max-width: 992px) {
  .blog .grid-col-2 {
    grid-template-columns: 1fr;
    margin-right: calc(var(--bs-gutter-x) * -0.5);
    margin-left: calc(var(--bs-gutter-x) * -0.5);
  }
}
.blog .grid-col-2 .left {
  min-width: 200px;
}
@media screen and (max-width: 992px) {
  .blog .grid-col-2 .left {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
.blog .review-swiper {
  height: inherit !important;
}
.blog .review-swiper .swiper-pagination {
  bottom: 0;
  text-align: right;
}
.blog .review-swiper .swiper-pagination .swiper-pagination-bullet-active {
  background: #161616;
}

.contact {
  color: #F2F2F2;
}
.contact .contact-padding {
  padding-block: 133px 175px;
}
.contact-content {
  max-width: 360px;
}
.contact .arrow-icon {
  position: absolute;
  left: -90px;
}
.contact h2 {
  margin-bottom: 44px;
}
.contact .form-control {
  border: 0;
  background: transparent;
  color: #F2F2F2;
  border-bottom: 1px solid #6E6E6E;
  border-radius: 0;
  padding-left: 0;
  font-size: 30px;
  font-family: "Urbanist", sans-serif;
}
.contact .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.contact .form-control::-webkit-input-placeholder {
  color: #F2F2F2;
  font-size: 30px;
  font-family: "Urbanist", sans-serif;
}
.contact .form-control::-moz-placeholder {
  color: #F2F2F2;
  font-size: 30px;
  font-family: "Urbanist", sans-serif;
}
.contact .form-control:-ms-input-placeholder {
  color: #F2F2F2;
  font-size: 30px;
  font-family: "Urbanist", sans-serif;
}
.contact .form-control::-ms-input-placeholder {
  color: #F2F2F2;
  font-size: 30px;
  font-family: "Urbanist", sans-serif;
}
.contact .form-control::placeholder {
  color: #F2F2F2;
  font-size: 30px;
  font-family: "Urbanist", sans-serif;
}
.contact textarea {
  resize: none;
}/*# sourceMappingURL=style.css.map */