@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Urbanist:wght@400;700&display=swap");
body {
  color: #000;
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
  font-family: "Roboto", sans-serif;
}
@media screen and (max-width: 992px) {
  body {
    font-size: 15px;
    line-height: 25px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Urbanist", sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 60px;
  line-height: 80px;
  margin-bottom: 44px;
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 32px;
    line-height: 40px;
  }
}

h2 {
  font-size: 60px;
  line-height: 80px;
  margin-bottom: 51px;
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 32px;
    line-height: 40px;
  }
}

h3 {
  font-size: 30px;
  line-height: 80px;
}
@media screen and (max-width: 768px) {
  h3 {
    font-size: 20px;
    line-height: 40px;
  }
}

a, button {
  font-family: "Roboto", sans-serif;
  font-size: 17px !important;
  line-height: 30px;
}

.btn__outline-accent {
  border: 2px solid #DAFF00;
  color: #fff;
  background: transparent;
  border-radius: 5px;
  padding: 7px 22px;
  font-weight: 600 !important;
}
.btn__outline-accent:hover, .btn__outline-accent:focus {
  background: #DAFF00 !important;
  color: #000 !important;
  border: 2px solid #DAFF00 !important;
}

@media screen and (min-width: 1850px) {
  .container {
    max-width: 1820px;
  }
}
@media screen and (max-width: 576px) {
  .container {
    padding: 0 35px;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

.block-margin {
  margin-block: 200px;
}
@media screen and (max-width: 992px) {
  .block-margin {
    margin-block: 100px;
  }
}

.block-padding {
  padding-block: 200px;
}
@media screen and (max-width: 992px) {
  .block-padding {
    padding-block: 100px;
  }
}

.block-padding--xl {
  padding-block: 250px;
}
@media screen and (max-width: 992px) {
  .block-padding--xl {
    padding-block: 100px;
  }
}

.text-accent {
  color: #DAFF00;
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.bg__dark {
  background: #161616;
}

.bg__light {
  background: #F2F2F2;
}

.bg__accent {
  background: #DAFF00;
}

.text__accent {
  color: #DAFF00 !important;
}

.min-h-inherit {
  min-height: inherit;
}

.mb-50 {
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .mb-50 {
    margin-bottom: 30px;
  }
}

.mb-30 {
  margin-bottom: 30px;
}

.mouse {
  width: 26px;
  height: 40px;
  border-radius: 15px;
  border: 2px solid #A5A5A5;
  position: relative;
  overflow: hidden;
  margin-top: 40px;
}

.mouse .roll {
  position: absolute;
  top: 8px;
  left: 50%;
  width: 2px;
  margin-left: -1px;
  height: 8px;
  border-radius: 4px;
  background: #A5A5A5;
  -webkit-animation: mouseScroll 0.8s cubic-bezier(0.3, 0.04, 0.7, 0.95) infinite alternate;
          animation: mouseScroll 0.8s cubic-bezier(0.3, 0.04, 0.7, 0.95) infinite alternate;
  z-index: 2;
}

.scroll-container:hover .roll,
.scroll-container:focus .roll {
  background: #DAFF00;
}

.scroll-container {
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

.scroll-container:hover,
.scroll-container:focus {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

@-webkit-keyframes mouseScroll {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(14px);
    transform: translateY(14px);
  }
}

@keyframes mouseScroll {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(14px);
    transform: translateY(14px);
  }
}/*# sourceMappingURL=style.css.map */