@import "../../variables";
@import "../../mixins";

.header{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        z-index: 99;
        @include mq(lg) {
          padding-block:25px;
         }
        &-logo  {
            height:160px;  
            @include mq(xxxl) {
             height: 140px;
            }
            @include mq(lg) {
               display: none;
            }
        }
        &-logo--mobile {
            display: none;
            @include mq(lg) {
                display: block;
             }
        }
        &-logo--scroll {
            display: none;
            @include mq(lg) {
                max-width:40px;
             }
        }
        &-logo-text  {
          color: #F2F2F270; 
          line-height: 20px;
          font-family: 'Urbanist', sans-serif;
        }
        .navbar {
            padding: 0;
        }
        .navbar-nav {
            @include mq(lg){
             align-items: flex-start;
             }
        }
        &.active {
            position: fixed;
            background:$clr-dark;
            padding-block:20px;
            animation: fadeIn .3s ease-in-out both;
            .header-logo--scroll {
                display: block;
            }
            .header-logo {
                display: none;
            }
            .header-logo-text {
                display: none !important;
            }
            .header-logo--mobile {
                display: none;
            }
        }
        .nav-item {
            padding: 0 22px;
            @include mq(xxxl){
                padding: 0 15px;
              }
        }
        .nav-link {
            padding: 0 !important;
            position: relative;
            color: $clr-light;
            font-weight: 500;

            @include mq(xl) {
                color: $clr-light; 
                margin-bottom: 30px;
            }
            &:before {
                content: '';
                position: absolute;
                bottom: 0px;
                left: 50%;
                transform: translateX(-50%);
                height: 1px;
                width:22px;
                display: block;
                background: $clr-accent;
                transition: opacity .3s ease-in-out;
                opacity: 0;
               
            }

            &:hover::before,
            &:focus::before {
               opacity: 1;
            }

            &:hover,
            &:focus {
                color: $clr-light;
            }

            &.active::before {
               opacity: 1;
            }
        }

       
        .offcanvas-body {
            @include mq(xl) {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                padding-inline:50px 35px;
            }
            
        }
       

.navbar-toggler {
    border:0;
    padding: 0;
   
    &:focus {
        box-shadow: none;
    }
    &-icon {
        background: url(../images/mobile-menu.svg) no-repeat center;
        background-size:contain ;
        width: 2.5rem;
        height: 1.5rem;
        @include mq(md) {
            width: 2rem;
        }
    }
}


&-logo--mobile  {
    display: none;
    @include mq(lg) {
        display: block;
        max-width: 219px;
    }
}

.offcanvas {
    background: $clr-dark;
    width: 100%;
    @include mq(xl) {
        min-height: 100vh;
    }
    .btn-close {
       background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23DAFF00'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
       opacity: 1;
       padding: 2px;
       margin: 20px;
       width: 1.5rem;
       height: 1.5rem;
       @include mq(sm) {
        margin: 20px 0px;
        width: 1.2rem;
        height: 1.2rem;
    }
    }
}
.offcanvas-header {
    @include mq(xl) {
        padding-inline: 25px;
        padding-top: 30px;

        .header-logo--mobile {
            display: block !important;
        }
    }
}
}



@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 } 